.search-container {
  position: relative;
  width: 100%;
  height: 100px;
}

.search {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  height: 40px;
  width: 80%;
  border: 1px solid palevioletred;
  background-color: pink;
  text-align: center;
  color: black;
  font-size: 14px;
}

.search::placeholder {
  color: black;
}
